<nav class="nav">
    {% if app.user %}
        <p> {{ app.user.username}} !</p>
    {% endif %}
    <a class="nav_item" href="{{ path('main_accueil') }}">Home</a>
    <a class="nav_item" href="{{ path('wish_list') }}">All wishes</a>
    <a class="nav_item" href="{{ path('bucket_about') }}">About us</a>
    {% if not app.user %}
        <a class="nav_item" href="{{ path('app_login') }}">Connection</a>
        <a class="nav_item" href="{{ path('app_register') }}">Register</a>
    {% endif %}
    {% if app.user %}
        <a class="nav_item" href="{{ path('wish_ajouter') }}">Add a wish</a>
        <a class="nav_item" href="{{ path('app_logout') }}">Disconnect</a>
    {% endif %}
</nav>